<article class="container text-center">
  <%= render 'layouts/errors', obj: @sticker %>
  <h2>ステッカー一覧・追加</h2>
  <div class="col-6 mx-auto my-4">
    <%= form_with model: @sticker, url: admin_stickers_path, local: true do |f| %>
      <div class="d-flex justify-content-between">
        <div class="">
          <%= f.label "褒めステッカー", class: "form-label" %>
        </div>
        <div class="">
          <%= f.text_field :message, class: "form-control" %>
        </div>
        <div class="">
        <%= f.submit "新規登録", class: "submit" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="">
    <table class="table">
      <thead>
        <tr  class="table-secondary text-center">
          <th>ジャンル</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @stickers.each do |sticker| %>
          <tr>
            <td><%= sticker.message %></td>
            <td>
              <%= link_to '編集', edit_admin_sticker_path(sticker), class: "btn border" %>
              <%= link_to '削除', admin_sticker_path(sticker), method: :delete, class: "ml-4 btn btn-danger border", data: { confirm: "ステッカーを削除しますか？" }%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</article>