<%= f.label :color_status, "バルーンの色を選んでください", id: "color_status" %>
<div class="color_form mx-auto my-3">
  <%= f.radio_button :color_status, :white %>
  <%= f.label :color_status_white, class: "white"%>
  <%= f.radio_button :color_status, :black %>
  <%= f.label :color_status_black, class: "black"%>
  <%= f.radio_button :color_status, :red %>
  <%= f.label :color_status_red, class: "red"%>
  <%= f.radio_button :color_status, :orange %>
  <%= f.label :color_status_orange, class: "orange"%>
  <%= f.radio_button :color_status, :yellow %>
  <%= f.label :color_status_yellow, class: "yellow"%>
  <%= f.radio_button :color_status, :grass %>
  <%= f.label :color_status_grass, class: "grass"%>
  <%= f.radio_button :color_status, :green %>
  <%= f.label :color_status_green, class: "green"%>
  <%= f.radio_button :color_status, :water %>
  <%= f.label :color_status_water, class: "water"%>
  <%= f.radio_button :color_status, :blue %>
  <%= f.label :color_status_blue, class: "blue"%>
  <%= f.radio_button :color_status, :wisteria %>
  <%= f.label :color_status_wisteria, class: "wisteria"%>
  <%= f.radio_button :color_status, :purple %>
  <%= f.label :color_status_purple, class: "purple"%>
  <%= f.radio_button :color_status, :pink %>
  <%= f.label :color_status_pink, class: "pink"%>
</div>
