<article class="bg-cover layout article-margin text-center">
  <%= render 'layouts/errors', obj: @balloon %>
  <h2 class="my-3">新しいバルーンを飛ばそう！</h2>

  <%= form_with model: @balloon, local: true do |f| %>
    <div class="d-flex flex-column justify-content-center">

      <%= render "public/balloons/color_select", f: f %>

      <div class="my-3">
        <%= f.text_area :content, placeholder: "今日頑張ったことを詰め込もう！(最大200文字)", size: "20x5", class: "form-control" %>
      </div>

      <div>
        <%= label :tag_name, "タグ(,区切りで入力、最大20文字)" %>
        <%= text_field_tag :tag_name %>
      </div>

      <div>
        <%= f.label :balloon_image, class: "h3" do %>
          <i class="fa-regular fa-image"></i>
          <%= f.file_field :balloon_image, id: "file-input", class: "balloon-image-input" %>
        <% end %>
      </div>
      <!--プレビュー-->
      <div id="image-preview" class="mx-auto"></div>

      <div class="col-sm-7 col-md-4 mx-auto my-5">
        <%= f.submit "飛ばす", class: "btn btn-block btn-success" %>
      </div>

    </div>

  <% end %>
</article>