<article class="layout pb-5">
  <div class="balloon-frame">
    <div class="card balloon balloon-<%= @balloon.color_status %>">
      <div id="favorite-btn-<%= @balloon.id %>">
        <%= render "public/favorites/favorite_btn", balloon: @balloon %>
      </div>
      <% if current_user == @user %>
        <div class="twitter">
          <%= link_to "https://twitter.com/share?url=#{balloon_url(@balloon)}&text=【バルーンを飛ばしました！】%0a%0a#{@balloon.content}", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア", class: "x-link" do %>
            <i class="fa-brands fa-x-twitter"></i>
          <% end %>
        </div>
      <% end %>
      <%= image_tag @balloon.convert_balloon_image("300"), class: "balloon-image" if @balloon.balloon_image.attached? %>
      <div class="balloon-content"><%= simple_format(h(@balloon.content)) %></div>
    </div>
    <div id="sticker-<%= @balloon.id %>">
      <%= render "public/balloon_stickers/balloon_sticker_btn", balloon: @balloon, stickers: @stickers %>
    </div>

    <div class="mt-5 d-flex justify-content-between">
      <div>
        <div class="balloon-created-time">投稿日時: <%= l @balloon.created_at %></div>
        <div class="balloon-user-id">ID: <%= @user.public_uid %></div>
      </div>
      <div class="report-btn">
        <%= link_to "報告", balloon_reports_path(@balloon), method: :post, data: { confirm: "このバルーンを不適切な内容として報告しますか？" }, class: "btn btn-sm btn-secondary" %>
      </div>
    </div>

    <% current_user.friends.each do |friend| %>
      <% if @balloon.user_id == friend.id %>
        <div class="m-4 d-flex">
          <div><%= image_tag friend.get_profile_image, size: "60x60", class: "rounded-circle" %></div>
          <div class="ml-4 my-auto"><%= friend.name %> さんのバルーン</div>
        </div>
      <% end %>
    <% end %>

    <% if current_user == @user %>
      <div class="balloon-delete">
        <%= link_to balloon_path(@balloon), method: :delete, class: "btn btn-danger border", local: true, data: { confirm: "バルーンを削除しますか？" } do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>
      </div>

      <div>
        <%= form_with model: @balloon, method: :patch, local: true do |f| %>
          <div class="d-flex flex-column justify-content-center text-center">

            <%= render "public/balloons/color_select", f: f %>

            <div class="col-sm-7 col-md-4 mx-auto my-5">
              <%= f.submit "色変更", class: "btn btn-block btn-success" %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if current_user == @user || current_user.friends.include?(@user) %>
    <div id="comments-<%= @balloon.id %>">
      <%= render "public/balloon_comments/comments", balloon: @balloon, user: @user %>
    </div>
    <div class="text-center">
      <%= form_with model: [@balloon, @balloon_comment], local: false do |f| %>
      <%= f.text_area :comment, placeholder: "自身と友達のみコメントができます。", class: "form-control" %>
      <%= f.submit "送信", class: "btn btn-success m-4" %>
      <% end %>
    </div>
  <% else %>
    <p class="text-center">---友達になることでコメントをすることができます。---</p>
  <% end %>

</article>


