<article class="layout">
  <div class="balloon-frame">
    <div class="card balloon balloon-<%= @balloon.color_status %>">
      <div id="favorite-btn-<%= @balloon.id %>">
        <%= render "public/favorites/favorite_btn", balloon: @balloon %>
      </div>
      <div class="balloon-content"><%= @balloon.content %></div>
      <%= image_tag @balloon.convert_balloon_image("400"), class: "balloon-image" if @balloon.balloon_image.attached? %>
    </div>
    <div class="balloon-created-time">投稿日時: <%= l @balloon.created_at %></div>
    <div class="balloon-user-id">ID: <%= @user.public_uid %></div>
    <% if @balloon.user_id === current_user.id %>
      <%= link_to "X", balloon_path(@balloon), method: :delete, class: "btn balloon-delete border", local: true, data: { confirm: "バルーンを削除しますか？" } %>

      <div>
        <%= form_with model: @balloon, method: :patch, local: true do |f| %>
          <div class="d-flex flex-column justify-content-center">
            <%= f.label :color_status, "バルーンの色を変更できます。" %>
            <div class="color_form mx-auto my-3">
              <%= f.radio_button :color_status, :white %>
              <%= f.label :color_status_white, class: "white"%>
              <%= f.radio_button :color_status, :black %>
              <%= f.label :color_status_black, class: "black"%>
              <%= f.radio_button :color_status, :red %>
              <%= f.label :color_status_red, class: "red"%>
              <%= f.radio_button :color_status, :orange %>
              <%= f.label :color_status_orange, class: "orange"%>
              <%= f.radio_button :color_status, :yellow %>
              <%= f.label :color_status_yellow, class: "yellow"%>
              <%= f.radio_button :color_status, :grass %>
              <%= f.label :color_status_grass, class: "grass"%>
              <%= f.radio_button :color_status, :green %>
              <%= f.label :color_status_green, class: "green"%>
              <%= f.radio_button :color_status, :water %>
              <%= f.label :color_status_water, class: "water"%>
              <%= f.radio_button :color_status, :blue %>
              <%= f.label :color_status_blue, class: "blue"%>
              <%= f.radio_button :color_status, :wisteria %>
              <%= f.label :color_status_wisteria, class: "wisteria"%>
              <%= f.radio_button :color_status, :purple %>
              <%= f.label :color_status_purple, class: "purple"%>
              <%= f.radio_button :color_status, :pink %>
              <%= f.label :color_status_pink, class: "pink"%>
            </div>
            <div class="col-sm-7 col-md-4 mx-auto my-5">
              <%= f.submit "色変更", class: "btn btn-block btn-success" %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= render "public/balloon_stickers/balloon_sticker_btn", balloon: @balloon, stickers: @stickers %>

  <!--相互フォローのみに限定する-->
  <!--見た目調整-->
  <table id="comments-<%= @balloon.id %>">
    <%= render "public/balloon_comments/comments", balloon: @balloon %>
  </table>
  <div>
    <%= form_with model: [@balloon, @balloon_comment], local: false do |f| %>
    <%= f.text_area :comment %>
    <%= f.submit "comment" %>
    <% end %>
  </div>

</article>


