<article class="pb-5 text-center">
  <h2>えくせるーん</h2>
  <h2>-Excellent Balloon-</h2>
  <p>”みんなの頑張りを応援し合うおだやかでポジティブなプラットフォーム”を目指しています！</p>
  <hr class="heading-line">

  <h2>"<%= @keyword %>"の検索結果</h2>
  <%= link_to "すべてのバルーンへ", root_path %>
  <% if @balloons.count == 0 %>
    <div class="text-center">
      <div>
        <%= render "public/searches/search_form" %>
      </div>
    </div>
    <p class="mt-5">ヒットするバルーンがありません。</p>
  <% else %>
    <div>
      <%= render "public/searches/search_form" %>
    </div>
    <div class="jscroll-div">
      <%= render "public/balloons/index", balloons: @balloons, stickers: @stickers %>
      <%= paginate @balloons %>
    </div>
  <% end %>
</article>
