<article class="container pb-5 text-center">
  <h2>「えくせるーん -Excellent Balloon-」のつかいかた</h2>
  <p>”みんなの頑張りを応援し合うおだやかでポジティブなプラットフォーム”を目指しています！</p>
  <hr class="heading-line">

  <div class="row m-4">
    <div class="col">
      <h3>はじめに</h3>
      <p>画面右下からユーザー登録をしよう！</p>
      <p>※名前はフォローされた友達以外には公開されません。</p>
    </div>
  </div>
  <hr class="heading-line">

  <h3>自分のバルーンを作る</h3>
  <p>一日の頑張りをバルーンに詰めて飛ばそう！</p>

  <div class="row m-4">
    <div class="col-md-6">
      <h4> -バルーンのつくりかた- </h4>
      <p>まずは全12色から好きな色を選択してください。</p>

      <p>そしてあなたの頑張ったことや達成できたことを書き込もう！</p>
      <p>(例：朝早く起きれた！/ 資格勉強3日目！ などなんでもOK！)</p>

      <p>画像を貼ることもできます</p>

      <h4 class="mt-5">バルーンができたら飛ばそう！</h4>
    </div>
    <div class="col-md-6">
      <%= image_tag "newballoon.png", class: "rounded" %>
    </div>
  </div>
  <hr class="heading-line">

  <div class="row m-4">
    <div class="col-md-6">
      <%= image_tag "trophy.png", class: "rounded" %>
    </div>
    <div class="col-md-6">
      <h3>マイページで自分のバルーンを確認する</h3>
      <p>マイページで自分の作ったバルーンを見ることができます。</p>
      <p>また、一か月の作成数に応じてトロフィーを獲得することができます！</p>
      <p>沢山のバルーンを飛ばそう！</p>
    </div>
  </div>
  <hr class="heading-line">

  <div class="row m-4">
    <div class="col-md-6">
        <h3>みんなのバルーンに応援ボタンを押そう！</h3>
        <p>バルーン下部に応援ボタンがあります。</p>
        <p>何回でも押せます！いっぱい応援しよう！</p>
    </div>
    <div class="col-md-6">
      <%= image_tag "stiker.png", class: "rounded" %>
    </div>
  </div>
  <hr class="heading-line">

  <div class="row m-4">
    <div class="col-md-6">
      <%= image_tag "friend.png", class: "rounded" %>
    </div>
    <div class="col-md-6">
      <h3>ID検索を活用して友達にフォロー申請を送る</h3>
      <p>画面左下のID検索を押して、友達のIDを入れてみよう！</p>
      <p>フォロー申請をすることができます。</p>
    </div>
  </div>
  <hr class="heading-line">

  <div class="row m-4">
    <div class="col-md-6">
      <h3>コメントを送ろう</h3>
      <p>友達になることができたら、バルーンにコメントを送れるようになります！</p>
      <p>友達の頑張りにコメントを送ってみよう！</p>
    </div>
    <div class="col-md-6">
      <%= image_tag "comment.png", class: "rounded" %>
    </div>
  </div>
  <hr class="heading-line">

  <h3>たくさんの「えくせるーん」を飛ばそう！</h3>
  <%= link_to "TOPへ", root_path %>

  <div class="row m-4">
    <div class="col">
      <%= link_to "利用規約", tos_path %>
    </div>
  </div>

</article>