<article class="pb-5 text-center">
  <h2>えくせるーん</h2>
  <h2>-Excellent Balloon-</h2>
  <p>”みんなの頑張りを応援し合うおだやかでポジティブなプラットフォーム”を目指しています！</p>
  <hr class="heading-line">

  <% if @balloons.count == 0 %>
    <div class="text-center">
      <h2>友達のバルーン</h2>
      <p>ヒットするバルーンがありません。</p>
      <p>友達検索から友達申請をしてみよう！</p>
      <%= link_to "みんなのバルーン一覧へ", root_path %>
    </div>
  <% else %>
    <% if @type == "friends" %>
      <h2>友達のバルーン</h2>
      <%= link_to "みんなのバルーン一覧へ", root_path %>
    <% else %>
      <h2>すべてのバルーン</h2>
      <% if user_signed_in? %>
        <%= link_to "友達のバルーン一覧へ", root_path(type: "friends") %>
      <% end %>
    <% end %>
      <div>
        <%= render "public/searches/search_form" %>
      </div>
      <div class="jscroll-div">
        <%= render "public/balloons/index", balloons: @balloons, stickers: @stickers %>
        <%= paginate @balloons %>
      </div>
  <% end %>
</article>
