<article class="d-flex flex-column text-center">

  <%= render "public/users/introduction", user: @user %>

  <div class="mt-5">
    現在のステータス
    <% if @user.is_active %>
      <div class="text-success"><b>有効</b></div>
    <% else %>
      <div class="text-secondary"><b>退会</b></div>
    <% end %>
  </div>
  <div class="my-4">
    <% if @user.is_active === true %>
      <%= link_to "ユーザーを退会させる", admin_user_path(@user), method: :patch, class: "btn btn-danger border", data: { confirm: "このユーザーを退会させます。" } %>
    <% else %>
      <%= link_to "ユーザーを復元させる", admin_user_path(@user), method: :patch, class: "btn btn-danger border", data: { confirm: "このユーザーを復元させます。" } %>
    <% end %>
  </div>

</article>

  <div class="container text-center">
    <h3><%= @user.name %>のバルーン</h3>
    <%= render "admin/balloons/index", balloons: @balloons %>
  </div>


