<article class="bg-cover text-center">
  <h2>ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group mx-auto" style="width: 200px">
      <div>
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
      </div>

      <div>
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="login m-2">
        <%= f.submit "ログイン", class: "btn btn-success" %>
      </div>
    </div>

  <% end %>
  <small>
    はじめての方は<%= render "public/shared/links" %>
  </small>

  <div class="m-4">
    <%= link_to "管理者ログイン", new_admin_session_path %>
  </div>
</article>
