<article class='mb-5 text-center layout article-margin bg-cover'>

  <%= render 'layouts/errors', obj: @user %>

  <h2>ユーザー情報編集</h2>
  <%= form_with model: @user, url: mypage_path, method: :patch, local:true do |f| %>
    <div class='form-group mx-auto' style="width: 200px;">

      <div class="mt-4"><%= f.label :name %></div>
      <div><%= f.text_field :name, class: "form-control" %></div>

      <div class="mt-4"><%= f.label :profile_image %></div>
      <div><%= f.file_field :profile_image, id: "file-input" %></div>

      <div id="image-preview" class="mx-auto"></div>

      <div class="mt-4">
        <%= link_to "戻る", mypage_path, class: 'btn btn-secondary border' %>
        <%= f.submit "更新", class: 'ml-5 btn btn-info border' %>
      </div>
    </div>
  <% end %>
</article>

<div class="mt-4 text-center">
  <%= link_to "退会", unsubscribe_path, class: "btn btn-sm btn-danger" %>
</div>