<article class="pb-5 text-center">

  <%= render "public/users/introduction", user: @user %>

  <div>
    <%= link_to "プロフィール編集", mypage_edit_path, class: "btn border" %>
  </div>

  <div class="bg-cover">
    <h3>トロフィーボックス</h3>
    <small>バルーンの数が1個、10個、20個、28個達成でトロフィーを獲得できます！</small>
    <div class="trophy-box mx-auto">
      <table class="table table-bordered mx-auto">
        <tr>
          <th></th>
          <th>バルーン数</th>
          <th>トロフィー</th>
        </tr>
        <% @counts.reverse_each do |month, count| %>
          </tr>
            <th><%= month[1] %>月</th>
            <td><%= count %></td>
            <td class="trophy">
              <% if count >= 28 %>
                <div class="trophy-gold">
                  <i class="fa-solid fa-trophy"></i>
                </div>
              <% elsif count >= 20 %>
                <div class="trophy-silver">
                  <i class="fa-solid fa-trophy"></i>
                </div>
              <% elsif count >= 10 %>
                <div class="trophy-bronze">
                  <i class="fa-solid fa-trophy"></i>
                </div>
              <% elsif count >= 1 %>
                <div class="trophy-black">
                  <i class="fa-solid fa-trophy"></i>
                </div>
              <% else %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <% if @type == "mine" %>
    <h3>マイバルーン</h3>
    <%= link_to "お気に入りバルーン一覧へ", mypage_path(type: "favorite") %>
  <% else %>
    <h3>お気に入り</h3>
    <%= link_to "マイバルーン一覧へ", mypage_path %>
  <% end %>
  <div class="jscroll-div">
    <%= render "public/balloons/index", balloons: @balloons, stickers: @stickers %>
    <%= paginate @balloons %>
  </div>
</article>