<article class="pb-5 text-center">

  <%= render "public/users/introduction", user: @user %>

  <div>
    <%= link_to "プロフィール編集", mypage_edit_path, class: "btn border" %>
  </div>

  <h3>バルーンカウンター</h3>

  <table class="table table-bordered">
    <% @counts.each do |month, count| %>
      <tr>
        <th>年月</th>
        <td><%= month %></td>
      </tr>
      <tr>
        <th>バルーン数</th>
        <td><%= count %></td>
        <% if count >= 1 %>
          <td>〇</td>
        <% elsif count >= 10 %>
          <td>☆</td>
        <% elsif count >= 20 %>
          <td>すご</td>
        <% elsif count >= 25 %>
          <td>わお</td>
        <% end %>
      </tr>
    <% end %>
  </table>



  <% if @type == "mine" %>
    <h3>マイバルーン</h3>
    <%= link_to "お気に入りバルーン一覧へ", mypage_path(type: "favorite") %>
  <% else %>
    <h3>お気に入り</h3>
    <%= link_to "マイバルーン一覧へ", mypage_path %>
  <% end %>
  <div class="jscroll-div">
    <%= render "public/balloons/index", balloons: @balloons, stickers: @stickers %>
    <%= paginate @balloons %>
  </div>
</article>