<article class="pb-5 text-center">

  <%= render "public/users/introduction", user: @user %>

  <%= render "public/users/trophy_box", month_balloons_counts: @month_balloons_counts %>

  <% if @type == "mine" %>
    <h3>マイバルーン</h3>
    <%= link_to "お気に入りバルーン一覧へ", mypage_path(type: "favorite") %>
  <% else %>
    <h3>お気に入り</h3>
    <%= link_to "マイバルーン一覧へ", mypage_path %>
  <% end %>
  <div class="jscroll-div">
    <%= render "public/balloons/index", balloons: @balloons, stickers: @stickers %>
    <%= paginate @balloons %>
  </div>
</article>