<article class="d-flex flex-column text-center">
  <div class="profile-image">
    <%= image_tag @user.get_profile_image, size: "160x160", class: "rounded-circle mx-auto my-5" %>
  </div>
  <div class="profile-name">
    <%= @user.name %>
  </div>
  <div class="profile-id">
    ID: <%= @user.public_uid %>
  </div>
  <table class="profile-infomation">
    <tr>
      <th>バルーン数</th>
      <th>友達リスト</th>
      <th>友達申請</th>
    </tr>
    <tr>
      <td><%= @user.balloons.count %></td>
      <td><%= link_to @user.friends.count, friends_path %></td>
      <td><%= link_to "申請リスト", follow_requests_path %></td>
    </tr>
  </table>
  <div>
    <%= link_to "プロフィール編集", mypage_edit_path, class: "btn border" %>
  </div>

  <h3>バルーンボックス(仮)</h3>
  <!--連続投稿日数、バルーンの物理エンジン入れたい-->

  <% if @type == "mine" %>
    <h3>マイバルーン</h3>
    <%= link_to "お気に入りバルーン一覧へ", mypage_path(type: "favorite") %>
  <% else %>
    <h3>お気に入り</h3>
    <%= link_to "マイバルーン一覧へ", mypage_path %>
  <% end %>
  <%= render "public/balloons/index", balloons: @balloons, stickers: @stickers %>


</article>