<footer class="fixed-bottom">
  <div class="d-flex justify-content-around text-center">
    <% if admin_signed_in? %>
      <div class="bg-secondary col-4">
        <%= link_to "通報一覧", admin_top_path, class: "footer-text" %>
      </div>
      <div class="bg-secondary col-4">
        <%= link_to "会員一覧", admin_users_path, class: "footer-text" %>
      </div>
      <div class="bg-secondary col-4">
        <%= link_to 'ステッカー一覧', admin_stickers_path, class: "footer-text" %>
      </div>
      <% elsif user_signed_in? %>
      <div class="footer-bg">
        <%= link_to searches_search_path do %>
          <div class="footer-icon ">
            <i class="fa-solid fa-user-group"></i>
          </div>
          <div class="footer-text">
            友達を探す
          </div>
        <% end %>
      </div>
      <div class="footer-bg">
        <%= link_to new_balloon_path do %>
          <div class="footer-icon ">
            <i class="fa-solid fa-circle-plus"></i>
          </div>
          <div class="footer-text">
            新規作成
          </div>
        <% end %>
      </div>
      <!--未読バッヂ付けたい-->
      <div class="footer-bg">
        <%= link_to notifications_path do %>
          <div class="footer-icon ">
            <i class="fa-sharp fa-solid fa-bell"></i>
          </div>
          <div class="footer-text">
            通知一覧
          </div>
        <% end %>
      </div>
      <div class="footer-bg">
        <%= link_to mypage_path do %>
        <div>
          <%= image_tag current_user.get_profile_image, size: "24x24", class: "profile-image mx-auto my-2" %>
        </div>
        <div class="footer-text align-items-end">
          マイページ
        </div>
        <% end %>
      </div>
    <% else %>
      <div class="footer-bg">
        <%= link_to searches_search_path do %>
          <div class="footer-icon ">
            <i class="fa-solid fa-user-group"></i>
          </div>
          <div class="footer-text">
            友達を探す
          </div>
        <% end %>
      </div>
      <div class="footer-bg">
        <%= link_to new_balloon_path do %>
          <div class="footer-icon ">
            <i class="fa-solid fa-circle-plus"></i>
          </div>
          <div class="footer-text">
            新規作成
          </div>
        <% end %>
      </div>
      <div class="footer-bg">
        <%= link_to new_user_registration_path do %>
          <div class="footer-icon ">
            <i class="fa-solid fa-right-to-bracket"></i>
          </div>
          <div class="footer-text">
            会員登録
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</footer>