<footer class="footer-bg fixed-bottom bg-dark">
  <div class="d-flex justify-content-between">
    <% if admin_signed_in? %>
      <div class="col-md-4 text-center">
        <%= link_to "通報一覧", admin_top_path %>
      </div>
      <div class="col-md-4 text-center">
        <%= link_to "会員一覧", admin_users_path %>
      </div>
      <div class="col-md-4 text-center">
        <%= link_to 'ステッカー一覧', admin_stickers_path %>
      </div>
    <% elsif user_signed_in? %>
      <div class="col-md-4 text-center">
        <%= link_to "ID検索", searches_search_path %>
      </div>
      <div class="col-md-4 text-center">
        <%= link_to "投稿", new_balloon_path %>
      </div>
      <div class="col-md-4 text-center">
        <%= link_to 'マイページ', mypage_path, class: "" %>
      </div>
    <% else %>
      <div class="col-md-4 text-center">
        <%= link_to "ID検索", searches_search_path %>
      </div>
      <div class="col-md-4 text-center">
        <%= link_to "投稿", new_balloon_path %>
      </div>
      <div class="col-md-4 text-center">
        <%= link_to '新規登録', new_user_registration_path, class: "" %>
      </div>
    <% end %>
  </div>
</footer>