<header>
  <div class="d-flex justify-content-around">
    <div class="text-center">
      <%= link_to "えくせるーんとは", about_path, class: "header-text header-bg" %>
    </div>
    <!--admin signed in-->
    <% if admin_signed_in? %>
      <h1 class="">
        <%= link_to admin_top_path do %>
          <div class="excelloon-icon d-block mx-auto"></div>
        <% end %>
      </h1>
      <div class="text-center">
        <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "header-text header-bg" %>
      </div>
    <!--user signed in-->
    <% elsif user_signed_in? %>
      <h1 class="">
        <%= link_to root_path do %>
          <div class="excelloon-icon d-block mx-auto"></div>
        <% end %>
      </h1>
      <div class="text-center">
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "header-text header-bg" %>
      </div>
    <!--guest-->
    <% else %>
      <h1 class="">
        <%= link_to root_path do %>
          <div class="excelloon-icon d-block mx-auto"></div>
        <% end %>
      </h1>
      <div class="text-center">
        <%= link_to 'ログイン', new_user_session_path, class: "header-text header-bg" %>
      </div>
    <% end %>
  </div>
</header>